@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #232323;
  --primary: #ff7a29;
  --primary-dark: #d65a00;
  --secondary: #f5f5f5;
  --accent: #6b6b6b;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-gray: #808080;
  --color-dark-gray: #363636;
  --font-sans: 'Roboto', Arial, Helvetica, sans-serif;
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #f5f5f5;
    --secondary: #181818;
    --accent: #bdbdbd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-dark);
}